/* ============================================
   VARIABLES: Global SCSS Variables
   ============================================ */

// Colors
$logo-color: #fff;
$color_1: #6366f1;
$logo-bg: #{var(--theme-light)}; // ✅ Dynamic color
// Logo specific
$logo-stroke-width: 3px;
$logo-size: 100px;

// fonts
$font-family_1: 'Open Sans', sans-serif;
$font-family_2: 'Poppins', sans-serif;
$font-family_3: 'JetBrains Mono', monospace;


// Comming Soon

$color_1: #fff;
$color_2: rgba(255,255,255,0.82);
$color_3: rgba(255,255,255,0.80);
$color_4: #C9A84C;

$font-family_1: 'Bebas Neue', sans-serif;
$border-color_1: #C9A84C;