<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>
			@@if(context.titleBar){ @@titleBar }
			@@if(!context.titleBar){ PT. Cemerlang Grup Indonesia - Solusi Proyek Impian Anda }
		</title>
		
		<link rel="apple-touch-icon" sizes="180x180" href="@@root/assets/images/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="@@root/assets/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="@@root/assets/images/favicon-16x16.png">
		<!-- Setup Primary Color disini -->
			<style>
				:root { 
					--theme-init: 242, 73, 22; 
					--theme-light: 255, 108, 64; 
				}
			</style>
		<!-- Akhir Setup Primary Color -->

		<!-- Eksternal Font Google atau yang lain disini -->
		<!-- Akhir Eksternal Font -->
		
		<!-- Eksternal Lib disini -->
		<!-- Akhir Eksternal Lib -->

		<!-- Main css atau Style.css disini -->
			<link rel="stylesheet" type="text/css" href="@@root/assets/css/style.css" />
		<!-- Akhir Main css -->

		<!-- Additional Styles -->
			@@if (context.styles) {
				@@for(var i=0;i < styles.length;i++) {
					<link href="`+styles[i]+`" rel="stylesheet">
				}
			}
		<!-- Akhir Additional Styles -->

		<!-- Eksternal lib javascript disini -->
		<!-- End Eksternal lib javascript -->

	</head>

	<body class="bg-[#0a0e1a] text-gray-300 antialiased overflow-x-hidden">